.title {
	text-align: center;
	margin-bottom: 50px;
}

.WelcomePage {
	text-align: center;
	margin-bottom: 50px;
}

li {
	list-style: none;
}

.board {
	display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
}

@media screen and (max-width: 800px){
	.board-layout {
		position: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
	}

}

.board-layout {
	display: flex;
	justify-content: space-evenly;
}

.grid-header {
	display: flex;
}

.grid-container {
	display: flex;
}

.col {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
}

.row-item {
	border: 1px solid black;
	padding: 10px;
	width: 15px;
	height: 15px;
	text-align: center;
	background-color: lightgray;
}

.guess-item {
	cursor: pointer;
}

.guess-item:hover {
	cursor: pointer;
	background-color: #80b918;
}

.miss:hover {
	background-color: #48bfe3;
}

.hit:hover {
	background-color:#ff7b00;
}

.ship {
	color: white;
	background-color: black;
}

.miss {
	background-color: #48bfe3;
}

.hit {
	background-color: #ff7b00;
}