.navbarContainer{
    display: flex;
    width: 100vw;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: bold;
    font-size: 15px;
    height: 4vw;
}

a {
    color: black;
}